<article class="media" routerLink="/pub/{{pub._id}}" *ngFor="let pub of pubs">
    <figure class="media-left">
        <p class="image is-128x128">
            <img [src]="pub.picture">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{pub.name}}</strong> <small>Lat: {{pub.latitude}}</small> <small>Long: {{pub.longitude}}</small>
                <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
            </p>
        </div>
    </div>
</article>
