@import "../../styles.scss";
@media (max-width: $breakpoint-tablet) {
    .navbar {
        //navbar on bottom for small screens for ease of access
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .navbar-menu {
        position: fixed;
        bottom: $navbar-height;
        box-shadow: none;
        width: 100%;
        border-top: 2px rgba(55, 55, 55, 0.5) solid;
        padding-top: 0;
    }
}

.fa {
    margin: 0 5px 0 5px;
}

.navbar {
    background-color: rgba(255, 255, 255, 1);
    color: #ffffff;
}

.navbar-menu {
    background-color: rgba(255, 255, 255, 1);
}
