<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="http://placehold.it/112x28" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <div class="navbar-burger navbar-end" (click)="toggleMenu();" [ngClass]="{'is-active': menuState}">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu" [ngClass]="{'is-active': menuState}">
        <div class="navbar-end ">
            <a class="navbar-item" routerLink="/home" [ngClass]="{'is-active': currentRoute ==='/home' ? true : false}"><span class="icon is-small"><i class="fa fa-{{'app.navbar.home.icon' | translate}}" aria-hidden="true"></i></span>{{ 'app.navbar.home.name' | translate  }}</a>
        </div>
    </div>
</nav>
