<div class="overlay" [ngClass]="{'is-hidden': recipt}">
    <div class=" box popup-content ">
        <div class="content popup-content ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sit consectetur ad porro quo, molestiae deserunt laudantium vero obcaecati voluptatibus, nobis nesciunt quam, blanditiis facere pariatur optio, voluptates autem atque.
        </div>
    </div>
</div>
<div class="container is-products-container ">
    <span class="icon shopping-cart-button " (click)="recipt = !recipt ">
  <i class="fa fa-shopping-cart "></i>
</span>
    <div class="columns is-multiline ">
        <div class="column is-one-third " *ngFor="let drink of productList ">
            <div class="card ">
                <div class="card-image ">
                    <figure class="image is-4by2 ">
                        <img [src]="drink.image " alt="Image ">
                    </figure>
                </div>
                <div class="card-content ">
                    <div class="media ">
                        <div class="media-content ">
                            <h1 class="title is-1 ">{{drink.name}}</h1>
                        </div>
                    </div>
                    <div class=" columns is-mobile ">
                        <div class="column is-one-quarter ">
                            <button class="button is-primary is-fullwidth is-fullheight is-large " (click)="addDrink(drink) ">+</button>
                        </div>
                        <input class="input quantity column is-half " type="text " placeholder="0 " [(ngModel)]="drink.quantity ">
                        <div class="column is-one-quarter ">
                            <button class="button is-primary is-fullwidth is-fullheight is-large " (click)="removeDrink(drink) " [disabled]="!drink.quantity ">-</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
