/* You can add global styles to this file, and also import other style files */

@import "~bulma";
$metalic: #233237;
$rust: #984B43;
$yellow: #EAC67A;
$blue: #18121E;
$breakpoint-tablet: 768px;
html {
    background-color: $blue;
}

body {
    color: #ffffff;
}
