/* You can add global styles to this file, and also import other style files */

@import "~bulma";
$metalic: #8c8e90;
$teal: #80b5bd;
$dark-metalic: #67737e;
$dark-grey: #67737e;
$breakpoint-tablet: 768px;
html {
    background-color: $metalic;
}

body {
    color: #ffffff;
}

// * {
//     outline: 1px solid red !important;
// }
