@import "../../styles.scss";
.main-container {
    margin: 0 40px;
}

@media (max-width: $breakpoint-tablet) {
    .main-container {
        margin: 0 0;
        margin-bottom: $nav-height * 1.5;
    }
}

.main-container {}

.testclass {
    height: 1000px;
    width: 1000px;
}
